header{
    text-align: center;
    background: #ff3300;
    width: all;
}
body {
    margin: 0;
    padding: 0;
}

.newsPage{
    display: flex;
}

#title{
    transition: width 1s;
}

#menu{
    position:static;
    background: #333333;
    width: 20%;
    height: 650px;
    z-index: 1;
    transition: width 1s;
}

#headerNav{
    background: #ffffff;
    width:all; 
    display:flex;
    border-style: solid;
    border: 1;
    border-color: #ff3300;
}

#newsContent{
    z-index: 2;
    height: 610px;
    width: 80%;
    padding: 20px;
    overflow-y: auto;
    transition: width 1s;
}

.menuItem{
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    color: #ffffff;
}

.menuItem button{
    position: relative;
    padding: 5px;
    left: 50%;
    font-size: 20px;
    background: #333333;
    color: #ffffff;
    border: none;
    transform: translate(-60%,0);
}

.newsTypeBox{
    margin: 15px;
    width: 280px;
    height: 190px;
    position: relative;
}

#newsMenu{
    position: relative;
    display: flex;
}

#newsDisplayDiv{
    position: relative;
    padding: 12px;
    overflow-y: auto;
    height: 500px;
    display: none;
}

#newsDisplayDiv::-webkit-scrollbar{
    display: none;
}

.listItem{
    display: flex;
    width: 93%;
    height: 230px;
    background: #ffffff;
    border-style:solid;
    border-width:2px;
    border-radius:10px;
    border-color:#ff3300;
    margin-bottom: 20px;
}

.listItemImg{
    position: relative;
    width: 22%;
    height: 100%;
}

.listItemInfo{
    position: relative;
    width: 75%;
    color: #000000;
}

.listItemImg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.listItem h1{
    color: #ff3300;
    position: relative;
    top: 10px;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 8px;
}

.listItem p{
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 24px;
}

.listItemHeader{
    position: relative;
    width: 100%;
    display: flex;
}

.listItemHeader p{
    position: absolute;
    right: 0px;
    margin-right: 10px;
    bottom: 0px;
}

.listItemFooter{
    padding: 3px;
    position: absolute;
    bottom: 0px;
    background: #ffffff;
    width: 100%;
    display: flex;
    margin-left: 5px;
}

.listItemFooter p{
    color: #ff3300;
}

.listItemFooter img{
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
}

.listItemFooter .date{
    position: absolute;
    right: 0px;
    margin-right: 10px;
}