header{
    text-align: center;
    background: #ff3300;
    width: all;
}
body {
    margin: 0;
    padding: 0;
}

.newsView{
    display: flex;
}

#title{
    transition: width 1s;
}

#menu{
    position:static;
    background: #333333;
    width: 20%;
    height: 650px;
    z-index: 1;
    transition: width 1s;
}

#headerNav{
    background: #ffffff;
    width:all; 
    display:flex;
    border-style: solid;
    border: 1;
    border-color: #ff3300;
}

#newsViewContent{
    z-index: 2;
    height: 610px;
    width: 80%;
    padding: 20px;
    overflow-y: auto;
    transition: width 1s;
}

.menuItem{
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    color: #ffffff;
}

.menuItem button{
    position: relative;
    padding: 5px;
    left: 50%;
    font-size: 20px;
    background: #333333;
    color: #ffffff;
    border: none;
    transform: translate(-60%,0);
}

.newsTypeBox{
    margin: 15px;
    width: 280px;
    height: 190px;
    position: relative;
}

#newsMenu{
    position: relative;
    display: flex;
}

#newsDisplayDiv{
    position: relative;
    padding: 12px;
    overflow-y: auto;
    height: 500px;
    display: none;
}

#newsDisplayDiv::-webkit-scrollbar{
    display: none;
}

#newsTitle{
    font-size: 50px;
    color: #ff3300;
}