body {
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    margin-right: 15px;
}

header ul {
    position: relative;
    top: 27px;
    margin: 0;
    padding: 5px;
    margin-left: 20px;
}

header {
    display: flex;
    background: #000000;
    width: all;
    padding-left: 20px;
}

header img {
    width: 70px;
    height: 70px;
    position: relative;
    align-self: center;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

header h1 {
    margin-left: 5px;
    color: #FFFFFF;
}

#announcements {
    padding: 10px;
    border: solid;
    background: #26780C;
}

#about {
    padding: 10px;
}

header ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.selected a {
    color: #26780C;
}

.menu li:not(.selected) a:hover {
    color: #aaaa00;
}